
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('./utils/variables.css');
@import url('./utils/text-colors.css');
@import url('./utils/margin.css');
@import url('./utils/padding.css');
@import url('./utils/back-ground-colors.css');
@import url('./nav-bar.css');
@import url('./utils/gap.css');
@import url('./oscar.css');


*{
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.border{
  outline: 1px solid black;
}

.hidden{
  display: none;
}